*{
margin: 0;
padding: 0;
}
h1, h2, h3, h4, h5, h6, p, ul{
margin: 0;
padding: 0;
}

header{
background-image: url(../images/BG.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.height{
min-height: 90vh;
align-items: center;
}

header h5{
color: #008ed6;
text-transform:uppercase;
font-size: 14px;
margin-bottom: 10px;
}

header h1{
color: #fff;
font-size: 48px;
margin-bottom: 15px;
}

header p{
color: #999999;
margin-bottom: 30px;
font-size: 18px;
}

header .btn_download{
color: #fff;
text-transform: uppercase;
font-size: 12px;
letter-spacing:2px;
border-radius: 3px;
border: 1px solid #008ed6;
padding: 13px 20px;
background-color: #008ed6;

}

header .view_btn{
background: transparent;
border-color: #999999;
margin-left: 12px;
}

header .btn_download:hover{
background: transparent;
color: #fff;
border-color: #999999;
}

header .view_btn:hover{
background-color: #008ed6;
color: #fff;
border-color: #008ed6;
}

.nav-link{
color: #fff;
text-transform: capitalize;
font-size: 14px;
font-weight: 600;
font-size: 17px;
position: relative;
padding: 0 !important;
}

.nav-link::before{
content: '';
position: absolute;
bottom: -5px;
left: 0;
width: 0%;
height: 2px;
background-color: #008ed6;
transition:0.5s all ease-in-out;
}

.nav-link::after{
content: '';
position: absolute;
bottom: -5px;
right: 0;
width: 0%;
height: 2px;
background-color: #008ed6;
transition:0.5s all ease-in-out;
}

.nav-link:hover{
color: #fff;
}

.nav-link:hover::before{
width: 48%;
}

.nav-link:hover::after{
width: 48%;
}

.nav-item{
margin-left: 30px;
}
.phone_image{
position: absolute;
bottom: 0;
}

.feature_section{

}

.feature_section h4{
margin-bottom: 15px;
color: #008ed6;
text-transform: uppercase;
font-size: 14px;

}
.feature_section h1{
font-size: 30px;
margin-bottom: 20px;
color: #1a1a1a;
}

.feature_section span{
display: block;
width: 80px;
height: 2px;
margin: auto;
position: relative;
}
    
.feature_section span::before{
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0%;
 background: #008ed6;
 transition: .4s all ease-in-out;
}

.feature_section span::after{
content: "";
position: absolute;
top: 0;
right: 0;
height: 100%;
width: 0%;
background: #008ed6;
transition: .4s all ease-in-out;
}

.feature_section:hover span::before{
width: 48%;
}

.feature_section:hover span::after{
width: 48%;
}

.feature_section h2{
color: #1a1a1a;
margin-top: 20px;
font-size: 20px;
}

.feature_section p{
margin-top: 17px;
color: #999999;
font-size: 16px;
text-align: center;
padding: 0 20px;
}

.icon-box{
height: 70px;
width: 70px;
border: 1px solid #999999;
border-radius: 50%;
display: flex;
justify-content: center;
text-align: center;
align-items: center;
margin: auto;
color: #008ed6;
padding: 0;
padding: 15px;
font-size: 23px;
}

.icon-box i{

}

.beautiful{

}

.beautiful h5{
color: #008ed6;
text-transform: uppercase;
font-size: 14px;
margin-bottom: 10px;
font-weight: 700;
}

.beautiful h1{
color: #1a1a1a;
font-size: 25px;
margin-bottom: 15px;
}

.beautiful p{
text-align: left;
margin-bottom: 20px;
color: #999999;
font-size: 18px;
}

.beautiful span{
display: block;
height: 2px;
width: 50px;
margin-bottom: 15px;
position: relative;
}

.beautiful span::before{
content: "";
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 0%;
background: #008ed6;
transition: 0.4s all ease-in-out;
}
   
.beautiful span::after{
content: "";
position: absolute;
top: 0;
right: 0;
height: 100%;
width: 0%;
background: #008ed6;
transition: 0.4s all ease-in-out;
}
   
.beautiful:hover span::before{
width: 48%;   
}
   
.beautiful:hover span::after{
width: 48%;
}

.beautiful h6{

}

.beautiful ul{

} 

.beautiful ul li{
display: flex;
margin: 15px 0px;
} 

.beautiful ul li i{
color: #008ed6;
margin-right: 15px;
} 

.beautiful-text{
margin-top: 60px;
}

.beautiful-image{
width: 80%;
margin: auto;
text-align: center;
}

.super{
background: #f2f2f2;
}

.super h1{
color: #1a1a1a;
font-size: 25px;
text-align: left;
margin-bottom: 20px;
}

.super h5{
color: #008ed6;
font-weight: 600;
text-transform: uppercase;
font-size: 13px;
margin-bottom: 10px;
text-align: left;
}

.super span{
display: block;
width: 50px;
height: 2px;
margin-bottom: 20px;
text-align: left;
position: relative;
}

.super span::before{
content: "";
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 0%;
background: #008ed6;
transition: 0.4s all ease-in-out;
}
   
.super span::after{
content: "";
position: absolute;
top: 0;
right: 0;
height: 100%;
width: 0%;
background: #008ed6;
transition: 0.4s all ease-in-out;
}
   
.super:hover span::before{
width: 48%;
}
   
.super:hover span::after{
width: 48%;
}

.super p{
color: #999999;
font-size: 15px;
text-align: left;
}

.super-content{
margin-top: 40px;
}

.super-image{
width: 90%;
}
